.apResKnoDC{
    background-color: blueviolet;
    padding: 8px 16px;
    margin: 2px;
    border-radius: 50px;
    text-transform: capitalize;
    border: 1px solid gray;
    box-shadow: inset 1px 1px 1px white;
    color: #fff;
    font-weight: 100;
    transition: 0.5s;
    display: block;
}
.apResKnoDC:hover{
    box-shadow: 1px 1px 1px rgb(255, 255, 255);
}